@import '@/styles/global.scss';

.container-wrapper {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  @include font-source(1.5rem, $white, false, false);
  @include button($black-color, $accent-color, $text-secondary);
  padding: 0px 40px;
  border-radius: 3rem;
}

.home-view {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  &-duel {
    width: 50%;
  }
  &-greetings {
    text-align: justify;
    width: 50%;
  }
}
