@import '@/styles/global.scss';

.container-wrapper {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta-button {
  padding: 12px 24px;
  font-size: 1.2rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

.home-view {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  &-duel {
    width: 50%;
  }
  &-greetings {
    text-align: justify;
    width: 50%;
  }
}
