@import '@/styles/global.scss';

.not-found {
  text-align: center;
  margin-top: 50px;
  min-height: 100vh;
}

.not-found h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.not-found p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.not-found a {
  color: #42b983;
  text-decoration: none;
}
