@mixin font-source($size: false, $color: false, $weight: false, $lineHeight: false) {
  @if $size {
    font-size: $size !important;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lineHeight {
    line-height: $lineHeight;
  }
}

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

@mixin defaultCategories() {
  @include font-source(1rem, $link, $font-weight-semibold, 1.5rem);
  text-align: start;
  letter-spacing: 0.5px;
}

@mixin defaultDescription() {
  text-align: justify;
  letter-spacing: -1px;
  @include font-source(1.25rem, $black, $font-weight-medium, 1.5rem);

  @media screen and (min-width: 768px) {
    text-align: start;
    letter-spacing: 3px;
  }
}

@mixin defaultLink() {
  @include font-source(1rem, $link, $font-weight-medium, 1.5rem);
  text-decoration: underline;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}
