@mixin font-source($size: false, $color: false, $weight: false, $lineHeight: false) {
  @if $size {
    font-size: $size !important;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lineHeight {
    line-height: $lineHeight;
  }
}

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

@mixin button($color, $hover-color, $border-color) {
  background-color: $color;
  border: $border-color 0.125rem solid;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: $hover-color;
    border: $hover-color 0.125rem solid;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background-color: $hover-color;
    border: $hover-color 0.125rem solid;
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
