@mixin font-source($size: false, $color: false, $weight: false, $lineHeight: false) {
  @if $size {
    font-size: $size !important;
  }
  @if $color {
    color: $color;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lineHeight {
    line-height: $lineHeight;
  }
}

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }
}
