@import '@/styles/global.scss';

.login-form {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  gap: 1rem;
  @include font-source($white);
  color: $white;
  &-title {
    @include font-source(1.5rem, $accent-color, 400, normal);
    text-align: center;
    margin-bottom: 1.25rem;
  }
  &-button {
    margin-top: 1rem;
  }
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: white; /* Cor do texto "ou" */
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid $text-secondary; /* Linha branca */
}

.divider:not(:empty)::before {
  margin-right: 0.5em;
}

.divider:not(:empty)::after {
  margin-left: 0.5em;
}

.btn {
  @include font-source(false, $white, false, false);

  @include button($black-color, $accent-color, $text-secondary);
}

.login-form-title-text {
  @include font-source(1.5rem, $accent-color, 500, normal);
  text-align: center;
  position: relative;

  padding: 0.625rem;
}
