@import '@/styles/global.scss';

.historic-report {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 3rem;
  min-height: 100vh;

  &-coin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
    .currency-image {
      width: 3.75rem;
    }
  }
}

.time-interval-select {
  width: 200px;
}
