@import '@/styles/global.scss';

.all-cards-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
  @media screen and (min-width: 1400px) {
    justify-content: space-between;
    margin-top: 2rem;
  }
  &-card {
    background-color: $dark-gray;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition:
      transform 0.3s,
      box-shadow 0.3s;
    width: 200px;
    text-align: center;
  }
  &-card:hover {
    transform: scale(1.3);
    box-shadow:
      0 10px 15px rgba(0, 0, 0, 0.15),
      0 0 20px $secondary-color; /* Adding a glowing effect */
    border: 2px solid transparent;
  }
  &-card-img img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
  }
}
