@charset 'UTF-8';

@import '@/styles/abstract/_fonts.scss';
@import '@/styles/abstract/_variables.scss';
@import '@/styles/abstract/_mixins.scss';
@import '@/styles/base/_reset.scss';
@import '@/styles/scss/_colors.scss';
@import '@/styles/scss/_fonts.scss';
