@import '@/styles/global.scss';

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.search {
  @include breakpoint(mobile) {
    width: 200px;
  }
  min-width: 400px;
}

.nav-subcontainer {
  display: flex;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;
}
.nav-subcontainer span {
  margin-left: 1rem;
}

.nav-itens {
  @include font-source(0.875rem, $white, $font-weight-regular, 1.5rem);
}

.hovered {
  @include font-source(0.875rem, $white, $font-weight-bold, 1.5rem);
  cursor: pointer;
}

::v-deep(.v-input__details) {
  padding: 0;
  display: none;
}

.logo {
  border-radius: 6px;
  padding: 10px 10px;
  &-world {
    @include font-source(1rem, $white, $font-weight-regular, 1.5rem);
    letter-spacing: 0.0625rem;
  }
  &-news {
    @include font-source(1rem, $white, $font-weight-bold, 1.5rem);
    letter-spacing: 0.0625rem;
  }
}

.close-icon {
  @include font-source(false, $white, false, 1.5rem);
  cursor: pointer;
}

.header-of-actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: inherit;
  padding-top: 0.7rem;
}

::v-deep(.v-list-item-title) {
  @include font-source(false, $white, false, 1.5rem);
}
.nav-drawer-bar {
  padding: 0.625rem 0.9375rem;
}

::v-deep(.v-card) {
  display: flex;
  align-items: center;
  color: $white;
}
