@import '@/styles/global.scss';
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 20px;
  background: url('https://img.freepik.com/vetores-gratis/abstrato-base-tecnologico_23-2148897676.jpg')
    no-repeat center center;
  background-size: cover;
  color: $white;
  &-links {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &-home,
    &-tracked {
      @include font-source(1rem, $color: $white, $weight: 700);
      transition: 0.3s ease-in-out;
    }
    &-home:hover,
    &-tracked:hover {
      color: $navbar-hover;
    }
  }
  &-title {
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  &-title:hover {
    color: $navbar-hover;
  }
  &-header span {
    @include font-source(1rem, $color: $white, $weight: 700);
    white-space: nowrap;
  }
  &-search {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      color: white;
    }
  }
  .search-input {
    display: flex;
    width: 12.5rem;
  }
  ::v-deep(.v-input__control) {
    width: inherit;
  }
}

.navbar-dropdown-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative; // Adiciona posicionamento relativo para o dropdown

  &-title {
    @include font-source(18px, white, 400, normal);
    text-transform: uppercase;
  }

  &-icon {
    width: 40px;
    height: 40px;
    color: rgb(245, 245, 245);
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $green;
    }
  }

  &-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 100%;
  }

  &-dropdown.visible {
    display: block;
  }
}
