@import '@/styles/global.scss';

.default-btn {
  text-align: end;
}

.button {
  @include font-source(1rem, $white, false, false);
  @include button($black-color, $accent-color, $text-secondary);
  padding: 0px 20px;
  border-radius: 1rem;
}
