/* style.scss */
@import '@/styles/global.scss'; // Assuming your global styles are defined here

.trade-card-container {
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  gap: 1rem;
  max-width: 850px;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: auto auto;

  &-cards {
    border: 1px solid gray;
    padding: 1rem;
  }
}

.offered-cards,
.received-cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Allow for cards to wrap on multiple lines */
  gap: 1rem; /* Add spacing between cards */
  padding: 1rem;
}

.trade-card {
  display: flex; /* Allow for stacking cards horizontally */
  align-items: center; /* Center card content vertically */
  margin-bottom: 10px;
  position: relative; /* Make container relative to contain absolute positioned cards */
  width: 100px; /* Set a fixed width for the card stack */
  height: 100px; /* Set a fixed height for the card stack */
}

.trade-card-container-cards-img {
  width: 100%; /* Ensure the image fits within the container */
  cursor: pointer;
  transition: transform 0.3s;
}

.trade-card-container-cards-img:hover {
  transform: scale(1.1);
  border: 1px solid $accent-color;
  border-radius: 0.5rem;
}

.trade-card-container-cards {
  max-height: 35.625rem !important;
}
.filters {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  @media screen and (min-width: 768px) {
    max-width: 25rem;
  }
}

.pagination {
  max-width: 600px;
  margin: 0 auto;
}
