// USA theme

$theme-us: #38446c;
$menu-active-us: #526092;
$menu-hover-us: #6277c2;

$link-us: #a53737;
$link-hover-us: #d10b0b;
$link-visited-us: #693939;

// Brazil theme

$theme-br: #386c43;
$menu-active-br: #529259;
$menu-hover-br: #61b96a;

$link-br: #1687ab;
$link-hover-br: #00a6db;
$link-visited-br: #295f71;

// Portugal theme

$theme-pt: #1c8a27;
$menu-active-pt: #0eb51e;
$menu-hover-pt: #1f5724;

$link-pt: #b85f5f;
$link-hover-pt: #925252;
$link-visited-pt: #6c3838;

// General theme

$white: #fff;
$black: #222222;

$dark-grey: #666666;
$light-grey: #cccccc;

// Links

$link: #9e4848;
