// USA theme

$dark-blue-us: #38446c;
$grey-blue-us: #526092;
$light-blue-us: #6277c2;

$vine-us: #a53737;
$red-us: #d10b0b;
$dark-red-us: #693939;

// Brazil theme

$dark-green-br: #386c43;
$grey-green-br: #529259;
$light-green-br: #61b96a;

$light-blue-br: #1687ab;
$sky-blue-br: #00a6db;
$grey-blue-br: #295f71;

// Portugal theme

$light-green-pt: #1c8a27;
$green-pt: #0eb51e;
$dark-green-pt: #1f5724;

$light-red-pt: #b85f5f;
$sky-red-pt: #925252;
$grey-red-pt: #6c3838;

// General theme

$white: #fff;
$black: #222222;

$dark-grey: #666666;
$light-grey: #cccccc;
