@import '@/styles/global.scss';

.data-table {
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.item-name {
  gap: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-end {
  align-items: center;
  justify-content: center;
  display: flex;
}
