html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 100vh;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
section,
div,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
